body{
        margin:1em auto;
        max-width:40em;
        padding:0 .62em;
        font:1.2em/1.62 sans-serif;
        color: white;
        background-color: #0f0f0f;
        text-align:left;
}

nav {
text-align:center;
}

h1,h2,h3,h4,h5,h6 {
        line-height:1.2;
}

h2,h3,h4,h5,h6{
        border-bottom: .1em solid white;
}
footer{
        border: .05em solid white;
        padding:0 .5em;
}
a{
        color: lightgray;
}